<h1>Welcome to the Superheroines (tm) App!</h1>

<p><%= link_to '<button type="button">View Heroines</button>'.html_safe, heroines_path %>

<%= link_to '<button type="button">View Superpowers</button>'.html_safe, powers_path %></p>

<%= image_tag "ww.jpg" %>    
