<h1>Welcome to the Superheroines (tm) App!</h1>

<p><%= link_to '<button type="button"><h3>View Heroines</h3></button>'.html_safe, heroines_path %>
<%= link_to '<button type="button"><h3>View Superpowers</h3></button>'.html_safe, powers_path %></p>

<%= link_to image_tag("ww.jpg"), heroines_path %>

<p>^click here, I'll also take you to view all heroines :')</p>