<h2>All Heroines</h2>

<%= link_to '<button type="button">New Heroine</button>'.html_safe, new_heroine_path %>

<ul>
  <% @heroines.each do |heroine| %>
    <li>
      <%= link_to heroine.super_name, heroine %>
    </li>
    <br>
  <% end %>
</ul>
